/* -------------------------------------- fonts ---------------------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
/* -------------------------------------- fonts ---------------------------------------------------- */

@tailwind base;
@tailwind components;

.bg-img {
    /* The image used */
    background-image: url("images/bg-2.jpeg");
  
    min-height: 100vh;
    min-width: 100vw;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
    /* Needed to position the navbar */
    position: relative;
  }



#shadow{
  text-shadow: 2px 2px 14px #000000;
}

@media (max-width:(768px))
{
  .nav-Links
  {
    display: none;

  }
}


@tailwind utilities;
